*{
	padding: 0;
	margin: 0;
	list-style: none;
	color: #18191F;
	outline: none;
}
.head,.top,.banner,.download-local,.update,.Message,.follow{
	width: 100%;
}
.head{
	height: 128px;
	background-color: #18191F;
}
.top{
	height: 96px;
	margin-top: -64px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.logo{
	width: 25%;
	height: 100%;
	background: url(../img/歪瓜.png) no-repeat;
	background-size: 72px 28px;
	margin-left: 16px;
}
.self{
	width: 69%;
	height: 100%;
	background-color: #FFFFFF;
	border: 0.5px solid rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	border-radius: 4px 0px 0px 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.TX{
	width: 64px;
	height: 64px;
	background: url(../img/Ellipse%201.png) no-repeat center center;
	background-size: 64px 64px;
	margin: 0 16px 0 32px;
	border: 2px solid #0ED17F;
	box-sizing: border-box;
	border-radius: 32px;
}
.name b{
	font-size: 20px;
}
.name p{
	font-size: 14px;
	margin-top: 4px;
	display: block;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.name span{
	display: block;
	width: 12px;
	height: 12px;
	background-color: #0ED17F;
	margin-left: 8px;
}
.center{
	margin-top: 24px;
	height: 200px;
	position: absolute;
	left: 16px;
	right: 16px;
}
.banner{
	height: auto;
	border-radius: 4px;
	border: 0.5px solid rgba(0, 0, 0, 0.24);
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.center p{
	font-weight: 500;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.68);
	margin-top: 32px;
}
.download{
	max-width: 360px;
}
.download-browser{
	height: 96px;
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.download-browser li{
	width: 73px;
	height: 96px;
	border: 0.5px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 12px;
}
.download-browser img{
	width: 32px;
	height: 32px;
}
.download-local{
	height: 48px;
	background-color: #F6F6F6;
	margin-top: 16px;
	border: 0.5px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	text-align: center;
	line-height: 48px;
	font-size: 12px;
}
.update{
	height: 160px;
	background: #F6F6F6;
	border-radius: 4px;
	margin-top: 32px;
}

.update{
	height: 160px;
	background-color: #F6F6F6;
	margin-top: 24px;
	border-radius: 4px;
}
.update p,.update b{
	display: inline-block;
	margin: 16px;
	color: #18191F;
}
.update b{
	font-size: 16px;
}
.update p{
	font-size: 13px;
	line-height: 21px;
	margin-top: 0;
}
.Message{
	height: 40px;
	display: flex;
	flex-direction: row;
	margin-top: 32px;
}
textarea{
	width: 80%;
	border: 0.5px  solid #E5E5E5;
	border-radius: 4px 0 0 4px ;
	color: rgba(0, 0, 0, 0.54);
	resize:none;
}

.Message button{
	width: 20%;
	background: #0ED17F;
	border: 0.5px solid rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
	border-radius: 0 4px 4px 0;
	color: #FFFFFF;
}
.follow{
	height: auto;
	margin-top: 24px;
	font-size: 16px;
	text-align: center;
}
.follow img{
	width: 24px;
	height: 24px;
}
.follow ul{
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}