*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background-color: #f6f6f6;
}
.self,.banner,.centerRight-top,textarea,.board{
	width: 100%;
}
.zhu,.self,.centerLeft{
	background-color: #FFFFFF;
}
li{
	cursor: pointer;
}
.zhu{
	width: 1440px;
	margin: 0 auto;
}
.head{
	width: 1440px;
	height: 240px;
	background-color: #18191f;
}
.headLeft{
	width: 256px;
	height: 100%;
	margin-left: 96px;
	float: left;
}
.logo{
	width: 162px;
	height: 52px;
	margin-top: 44px;
	background: url(../img/Group%2017.png) no-repeat;
	background-size: 162px 52px;
	display: flex;
}
.self{
	height: 144px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.TX{
	width: 80px;
	height: 80px;
	background: url(../img/Ellipse%201.png) no-repeat center center;
	background-size: 80px 80px;
	border-radius: 40px;
	border: 2px solid #0ED17F;
	box-sizing: border-box;
}
.name{
	margin: 16px;
}
.name span{
	width: 12px;
	height: 12px;
	display: block;
	background-color: #0ED17F;
	margin-left: 8px;
}
.headLeft b{
	font-size: 24px;
	line-height: 36px;
}
.headLeft p{
	font-size: 14px;
	display: flex;
	align-items: center;
}
.headCenter{
	width: 912px;
	height: 100%;
	display: flex;
	align-items: flex-end;
	float: left;
	font-size: 16px;
	color: #FFFFFF;
}
.headCenter li{
	margin: 16px;
}
.headRight{
	width: 176px;
	height: 100%;
	float: left;
}
.headRight img{
	width: 80px;
	height: 131px;
	margin: 37px 0 0 0;
}
.center{
	display: flex;
	flex-direction: row;
}
.centerLeft{
	width: 256px;
	height: 416px;
	border: 0.5px solid rgba(0, 0, 0, 0.12);
	border-top: none;
	margin-left: 95px;
}
.centerLeft li{
	width: 208px;
	height: 56px;
	font-size: 16px;
	color: #18191F;
	padding: 0 24px 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.centerLeft li:hover{
	border-left: solid 8px #0ED17F;
	background: rgba(0, 0, 0, 0.06);
	padding: 0 24px 0 16px;
}
.centerLeft span{
	width: 12px;
	height: 12px;
	background: url(../img/Rectangle%20102.png) no-repeat center center;
	background-size: 12px 12px;
}
.centerCenter{
	width: 689px;
	margin: 24px;
}
.banner{
	height: 240px;
	background: url(../img/Group%2053.png) no-repeat;
	background-size: 689px 240px;
	border-radius: 4px;
}
.browser{
	width: 100%;
	height: 144px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.browser li{
	width: 73px;
	height: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 12px;
	color: #18191F;
}
.browser li:hover{
	border: 0.5px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.browser img{
	width: 32px;
	height: 32px;
}
.update{
	width: 100%;
	height: 160px;
	background-color: #F6F6F6;
	margin-top: 24px;
	border-radius: 4px;
}
.update p,.update b{
	display: inline-block;
	margin: 16px;
	color: #18191F;
}
.update b{
	font-size: 16px;
}
.update p{
	font-size: 13px;
	line-height: 21px;
	margin-top: 0;
}
.follow{
	width: 190px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 24px;
	font-size: 16px;
}
.follow img{
	width: 24px;
	height: 24px;
}

textarea{
	width: 657px;
	height: 80px;
	margin-top: 24px;
	border: 0.5px solid #E5E5E5;
	border-radius: 4px;
	padding: 16px;
	outline: none;
	color: rgba(0, 0, 0, 0.54);
	resize:none;
}
.send{
	display: block;
	color: #0ED17F;
	font-size: 16px;
	margin: -40px 0 0 640px;
}
.board{
	height: auto;
	margin-top: 96px;
	line-height: 40px;
}
.board p{
	color: rgba(0,0,0,0.54);
}
footer{
	width: 100%;
	height: 160px;
	background-color: #18191F;
	margin-top: 240px;
	color: rgba(255,255,255,0.54);
	display: flex;
	align-items: center;
}
footer ul{
	margin-left: 240px;
	line-height: 32px;
}
footer a{
	color: rgba(255,255,255,0.54);
	text-decoration: none;
}
footer a:hover{
	text-decoration: blink;
}
